<%- include("partials/header.ejs") -%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Code Generator</title>
  </head>
  <body>
    <h1>QR Code Generator</h1>
    <form id="urlForm">
      <label for="urlInput">Type in your URL: </label>
      <input type="text" id="urlInput" name="url" />
      <button type="button" onclick="generateQRCode()">Generate QR Code</button>
    </form>
    <div id="qrCode">
      <img src="/images/qr_img.png">
    </div>
    <script>
      /*async function generateQRCode() {const urlInput = document.getElementById("urlInput").value;const qrCodeDiv = document.getElementById("qrCode");const response = await fetch(`/generateQRCode?url=${encodeURIComponent(urlInput)}`);const qrCodeImage = await response.blob();console.log(createObjectURL);qrCodeDiv.innerHTML = `<img src="${URL.createObjectURL(qrCodeImage)}" alt="QR Code">`;}*/
 async function generateQRCode() {
      try {
        const urlInput = document.getElementById("urlInput").value;
        const qrCodeDiv = document.getElementById("qrCode");
        const url = "/generateQRCode?url=" + encodeURIComponent(urlInput);
        const response = await fetch(url);
        const qrCodeImage = await response.blob();
        const img = document.createElement('img');
        img.src = URL.createObjectURL(qrCodeImage);
        img.alt = "QR Code";
        qrCodeDiv.innerHTML = "";
        qrCodeDiv.appendChild(img);
      } catch (error) {
        console.error('There was a problem with the fetch operation:', error);
      }
    }
    </script>
  </body>
</html>
<%- include("partials/footer.ejs") -%>
